<div class="container-fluid wrapper">
  <hr>
  <pre>Click below to open modal.</pre>
  <button type="button" class="btn btn-primary" title="click to open modal" (click)="openModal('my-modal')">Click Me</button>
  <pre class='padding-10'>{{closeResult}}</pre>
  <hr>
</div>

<app-modal id="my-modal">
  <div class='modal-header'>
    <span class='modal-title pull-left'>Modal Header</span>
    <div class="fa fa-window-close pull-right  close" title="click to close" (click)="closeModal('my-modal',CLOSE_ICON)"
      aria-hidden="true">
    </div>
  </div>
  <div class='modal-body'>
    In user interface design for computer applications, a modal window is a graphical control element
    subordinate to an application's main window. It creates a mode that disables the main window,
    but keeps it visible with the modal window as a child window in front of it.
  </div>
  <div class='modal-footer  pull-right'>
    <button class="btn btn-primary ">Confirm</button>
    <button type="button" class="btn btn-secondary" title="click to close" (click)="closeModal('my-modal',CLOSE_BUTTON);">Close</button>
  </div>
</app-modal>